@model ErbiumCapstone.Models.Contractor

@{
    ViewData["Title"] = "Chat";
}

<h1>Chat</h1>


<div class="container">
    <input type="text" id="txtMessage" />
    <input type="button" id="sendMessage" value="Send" onclick="sendMessage();" />

    <div id="DisplayMessages"></div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/Chat.js"></script>
    <script>
        let connection = new signalR.HubConnection("/chat", { transport: signalR.TransportType.LongPolling });

        connection.on('send', data => {
            var DisplayMessagesDiv = document.getElementById("DisplayMessages");
            DisplayMessagesDiv.innerHTML += "
            " + data;
        });

        connection.start().then(() => connection.invoke('send', 'Hello'));

        function sendMessage() {
            var msg = document.getElementById("txtMessage").value;
            connection.invoke('send', msg);
        }
    </script>
}
