@model ErbiumCapstone.Models.Contractor

@{
    ViewData["Title"] = "Chat";
}

<h1>Chat</h1>


<div class="container">
    <input type="text" id="txtMessage" />
    <input type="button" id="sendMessage" value="Send" onclick="sendMessage();" />

    <div id="DisplayMessages"></div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/Chat.js"></script>
   
}
