@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h5 class="display-4">'Job Done Right' Welcomes You!</h5>
    <h3> Post a Job, Accept a Job, and Walk Away with a Smile </h3>
    <br />
    <br />
    <img src="~/Images/PlumberMan.jpg" height="500" width="585" alt="Plumber in Suspenders" asp-append-version="true" />
</div>




