@model ErbiumCapstone.Models.Job

@{
    ViewData["Title"] = "Create Job";
    List<string> jobTypes = (List<string>)ViewData["jobTypes"];
    bool provideUpdates = false;
}

<h1>Create New Job</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateJob">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="JobName"></label>
                <input asp-for="JobName" class="form-control" />
                <span asp-validation-for="JobName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobType"></label>
                <select asp-for="JobType" class="form-control" asp-items="new SelectList(jobTypes)"></select>
                <span asp-validation-for="JobType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProposedCost"></label>
                <input asp-for="ProposedCost" class="form-control" />
                <span asp-validation-for="ProposedCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobStart"></label>
                <input asp-for="JobStart" type="date" value="DateTime.Today" class="form-control" />
                <span asp-validation-for="JobStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobCompletion"></label>
                <input asp-for="JobCompletion" type="date" value="DateTime.Today" class="form-control" />
                <span asp-validation-for="JobCompletion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProvideUpdates"></label>
                <input id="radio-update" type="radio" asp-for="ProvideUpdates" value="true" class="form-control" />
                <span asp-validation-for="ProvideUpdates" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProvidePix"></label>
                <input id="radio-pic" type="radio" asp-for="ProvidePix" value="true" class="form-control" />
                <span asp-validation-for="ProvidePix" class="text-danger"></span>
            </div>
            <script>
                if (document.getElementById("radio-update").checked == true) {
                    @(provideUpdates = true);
                }
            </script>
            @if (provideUpdates == true)
            {
                <div class="form-group">
                    <label asp-for="NumberOfUpdates"></label>
                    <input asp-for="NumberOfUpdates" class="form-control" />
                    <span asp-validation-for="NumberOfUpdates" class="text-danger"></span>
                </div>
            }

            <div class="form-group">
                <input type="submit" value="Create Job" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>





