@model ErbiumCapstone.Models.Job

@{
    ViewData["Title"] = "Create Job";
    List<string> jobTypes = (List<string>)ViewData["jobTypes"];
    bool provideUpdates = false;
}

<h1>Create New Job</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateJob">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="JobName"></label>
                <input asp-for="JobName" class="form-control" />
                <span asp-validation-for="JobName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobType"></label>
                <select asp-for="JobType" class="form-control" asp-items="new SelectList(jobTypes)"></select>
                <span asp-validation-for="JobType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProposedCost"></label>
                <input asp-for="ProposedCost" class="form-control" />
                <span asp-validation-for="ProposedCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobStart"></label>
                <input asp-for="JobStart" class="form-control" />
                <span asp-validation-for="JobStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobCompletion"></label>
                <input asp-for="JobCompletion" class="form-control" />
                <span asp-validation-for="JobCompletion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProvideUpdates"></label>
                <input id="radio-update" type="radio" asp-for="ProvideUpdates" value="true" class="form-control" />
                <span asp-validation-for="ProvideUpdates" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProvidePix"></label>
                <input id="radio-pic" type="radio" asp-for="ProvidePix" value="true" class="form-control" />
                <span asp-validation-for="ProvidePix" class="text-danger"></span>
            </div>
            <script>
                if (document.getElementById("radio-update").checked == true) {
                    @(provideUpdates = true);
                }
            </script>
            @if (provideUpdates == true)
            {
                <div class="form-group">
                    <label asp-for="NumberOfUpdates"></label>
                    <input asp-for="NumberOfUpdates" class="form-control" />
                    <span asp-validation-for="NumberOfUpdates" class="text-danger"></span>
                </div>
            }

            <div class="form-group">
                <input type="submit" value="Create Job" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h5>Customer Portal</h5>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="#">Create Job</a>
            </li>

            <li class="active">
                <a href="#interestSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Posted Jobs</a>
                <ul class="collapse list-unstyled" id="interestSubmenu">
                    <li>
                        <a href="#">Posted Job 1</a>
                    </li>
                    <li>
                        <a href="#">Posted Job 2</a>
                    </li>
                    <li>
                        <a href="#">Posted Job 3</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#currentSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Current Jobs</a>
                <ul class="collapse list-unstyled" id="currentSubmenu">
                    <li>
                        <a href="#">Current Job 1</a>
                    </li>
                    <li>
                        <a href="#">Current Job 2</a>
                    </li>
                    <li>
                        <a href="#">Current Job 3</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#pastSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Past Jobs</a>
                <ul class="collapse list-unstyled" id="pastSubmenu">
                    <li>
                        <a href="#">Past Job 1</a>
                    </li>
                    <li>
                        <a href="#">Past Job 2</a>
                    </li>
                    <li>
                        <a href="#">Past Job 3</a>
                    </li>
                </ul>
            </li>
            <li>
        </ul>

    </nav>
</div>